/* Global Styling */
:root {
    --primary-color: #4e4ef6;
    --secondary-color: #c9c9e9;
    --font-family: "Jersey 25", sans-serif;
    --font-size-large: 2.6rem;
    --font-size-medium: 2rem;
    --font-size-small: 1rem;
}

* {
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
}

h2 {
    text-align: center;
}

header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#7373d9, grey, transparent);
    box-shadow: 0px 4px 10px 2px #8787f1;
}

#mobile-nav {
    display: none;
    margin-right: 10px;
}

#logo {
    font-size: var(--font-size-large);
    margin-left: 15px;
}

#mobile-logo {
    display: none;
}

/* Media Queries */
@media only screen and (max-width: 785px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    #logo {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 521px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    #logo {
        font-size: var(--font-size-medium);
        margin: 0;
    }

    ul#prime-nav {
        display: none;
    }

    #mobile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }

    .mobile-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        opacity: 0;
        margin-right: 10px;
        transition: 0.3s;
    }

    .mobile-menu.active {
        opacity: 1;
    }

    .nav-item {
        margin: 0 0.5rem;
    }

    .nav-link {
        font-size: var(--font-size-small);
        font-weight: 400;
        color: #4949f8;
    }

    .nav-link:hover {
        color: #1313ff;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media only screen and (max-width: 465px) {
    header {
        justify-content: center;
        flex-direction: column;
    }

    #logo {
        font-size: min(0.5rem);
        font-size: max(2.6rem);
        margin: 0px;
    }

    .mobile-menu {
        margin-right: 0;
    }

    .mobile-menu.active {
        margin-right: 0;
    }
}

@media only screen and (max-width: 391px) {
    #logo {
        display: none;
    }

    #mobile-logo {
        display: inline-block;
        font-size: 2.3rem;
    }

    #mobile-logo::before {
        content: url("/Resources/Images/tires.png");
    }

    .nav-link {
        font-size: 0.8rem;
    }

    .remove-at-320px {
        display: none;
    }
}

#logo::before {
    content: url("/Resources/Images/tires.png");
}

ul#prime-nav {
    list-style: none;
    margin-right: 15px;
}

ul#prime-nav li {
    display: inline;
    font-size: 2rem;
    padding-left: 25px;
}

ul#prime-nav a {
    text-decoration: none;
}

/* Link States */
ul#prime-nav a:link {
    color: var(--primary-color);
}

ul#prime-nav a:visited {
    color: #b4b3b3;
}

ul#prime-nav a:hover {
    transition: color ease-in-out 600ms;
    color: #0000ff;
}

ul#prime-nav a:active {
    padding-top: 5px;
}

/* Our Mission Styling */
#our-mission {
    background-image: url("https://images.pexels.com/photos/5640639/pexels-photo-5640639.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    height: 30rem;
}

#our-mission h2 {
    color: var(--primary-color);
    font-size: 2rem;
    padding: 1em;
}

#our-mission figure,
article {
    float: right;
    margin-right: 20px;
    margin-left: 2%;
}

#our-mission article {
    color: var(--secondary-color);
    font-size: 1.5rem;
    max-width: 40%;
}

#our-mission figure {
    height: auto;
    max-width: 25%;
}

@media only screen and (max-width: 910px) {
    #our-mission figure {
        display: none;
    }

    #our-mission article {
        text-align: center;
        font-size: 2.1rem;
        max-width: 100%;
    }
}

@media only screen and (max-width: 746px) {
    #our-mission {
        position: relative;
    }

    #our-mission h2 {
        position: absolute;
        background-color: rgba(9, 9, 16, 0.4);
        height: 100%;
        transition: background-color ease-in-out 1000ms;
        width: 100%;
    }

    #our-mission article {
        text-align: center;
        font-size: 1.6rem;
        max-width: 100%;
        position: relative;
        top: 40%;
    }
}

@media only screen and (min-width: 426px) and (max-width: 575px) {
    #our-mission h2 {
        background-color: rgba(9, 9, 16, 0.4);
    }

    #our-mission article {
        font-size: 1.48rem;
        top: 28%;
    }
}

@media only screen and (max-width: 425px) {
    #our-mission h2 {
        background-color: rgba(9, 9, 16, 0.6);
    }

    #our-mission article {
        top: 40%;
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 370px) {
    #our-mission {
        box-shadow: 0px 4px 10px 2px #4b4bcd;
    }

    #our-mission h2 {
        background-color: rgba(9, 9, 16, 0.8);
        font-size: 1.6rem;
    }

    #our-mission article {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 320px) {
    #our-mission {
        box-shadow: 0px 4px 10px 2px #4b4bcd;
    }

    #our-mission h2 {
        background-color: rgba(9, 9, 16, 0.8);
        font-size: 1.4rem;
    }

    #our-mission article {
        font-size: 0.9rem;
    }
}

#our-mission img {
    border-radius: 10px;
}

#our-mission figcaption {
    color: var(--secondary-color);
}

/* Service Link States */
.service a:link {
    color: #592af5;
}

.service a:visited {
    color: #e9e9ea;
}

.service a:hover {
    padding-top: 40%;
    transition: all ease-in-out 1000ms;
    cursor: pointer;
}

.service a:active {
    padding-top: 40.5%;
    transition: none;
}

/* Services Styling */
#services {
    background: linear-gradient(transparent, grey, #4e4ef6);
    height: 30rem;
}

#services h2 {
    background: linear-gradient(#0a0a0f, grey, transparent);
    font-size: 2.3rem;
    color: #303087;
    height: 65px;
}

#services-container {
    height: 26rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.service {
    height: 50%;
    width: 17%;
    border-radius: 15px;
    box-shadow: 0px 4px 10px 2px #04040e;
    border: solid 3px #4e4ef6;
    transition: all ease-in-out 1000ms;
}

.service:hover {
    border-radius: 100%;
    transition: all ease-in-out 1500ms;
}

.service.alignment {
    background-image: url("https://t4.ftcdn.net/jpg/01/29/75/91/240_F_129759159_ziC7X6c2xPYohha3XHhtjDgAQfbmeGxU.jpg");
    background-size: cover;
    min-width: 150px;
}

.service.brakes {
    background-image: url("https://images.pexels.com/photos/6870323/pexels-photo-6870323.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    min-width: 150px;
}

.service.batteries {
    background-image: url("https://images.pexels.com/photos/4517073/pexels-photo-4517073.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    min-width: 150px;
}

.service a {
    font-size: 2.4rem;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all ease-in-out 1000ms;
}

@media only screen and (min-width: 490px) and (max-width: 733px) {
    .service a:hover {
        padding-top: 25%;
        transition: all ease-in-out 1000ms;
    }

    .service a:active {
        padding-top: 25.5%;
        transition: none;
    }
}

@media only screen and (max-width: 489px) {
    #services {
        height: 35rem;
    }

    #services-container {
        height: 90%;
        flex-direction: column;
    }

    .service {
        width: 50%;
        margin-bottom: 5%;
    }

    .service a:hover {
        padding-top: 35%;
        transition: all ease-in-out 1000ms;
    }

    .service a:active {
        padding-top: 35.5%;
        transition: none;
    }
}

@media only screen and (max-width: 482px) {
    .service:hover {
        border-radius: 10%;
        transition: all ease-in-out 1500ms;
    }
}

@media only screen and (max-width: 425px) {
    .service a:hover {
        padding-top: 35%;
        transition: all ease-in-out 1000ms;
    }
}

@media only screen and (max-width: 321px) {
    .service {
        max-height: 25%;
    }
}

/* Find Us Styling */
#find-us h2 {
    background: linear-gradient(#4e4ef6, grey, transparent);
    font-size: 2.3rem;
    color: #15151e;
    height: 65px;
}

/* Footer Styling */
footer {
    max-width: 100%;
}

/* Google Map Styling */
.google-map {
    height: 30rem;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    position: absolute;
}