/*Global Styling*/

html {
    font-size: 16px;
}

h2 {
    text-align: center;
}

body {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#7373d9, grey, transparent);
    box-shadow: 0px 4px 10px 2px #8787f1;
    /* box-shadow: X-offset Y-offset Blur Spread; */
    /* position: sticky; come back tho this later
    top: 0px; */
}

.mobile {
    display: none;
}


#logo {

    font-size: 2.6rem;
    margin: 0 auto;
}

@media only screen and (max-width: 785px) {

    header {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #logo {

        font-size: 2.6rem;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 521px) {

    header {
        max-width: 100%;
        display: flex;
        align-items: center;
    }

    #logo {

        font-size: 2.6rem;
        margin: 0 auto;
    }

}


@media only screen and (max-width: 425px) {

    header {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    #logo {
        text-align: center;
        font-size: 2.6rem;
        margin: 0px;
    }

    ul#prime-nav {
        /* margin: auto 30px; */
        padding: 0;
        margin: 0;
        text-align: center;

    }
    
    ul#prime-nav li{
        /* margin: auto 30px; to align these list items in a columns uncomment this */
    }

}


#logo {

    font-size: 2.6rem;
    margin-left: 15px;
}

#logo::before {
    content: url("/Resources/Images/tires.png");
}

ul#prime-nav {
    list-style: none;
    margin-right: 15px;
}

ul#prime-nav li {
    display: inline;
    font-size: 2rem;
    padding-left: 25px;
}

ul#prime-nav a {
    text-decoration: none;
}

/* Link States */

ul#prime-nav a:link {
    color: #4e4ef6;
}

ul#prime-nav a:visited {
    color: #b4b3b3;
}

ul#prime-nav a:hover {
    transition: color ease-in-out 600ms;
    color: #0000ff;
}

ul#prime-nav a:active {
    padding-top: 5px;
}

/*Our Mission Styling*/

#our-mission {
    background-image: url("/Resources/Images/Tires-one.jpeg");
    background-size: cover;
    height: 30rem;
}

#our-mission h2 {
    color: #4e4ef6;
    font-size: 2rem;
    padding: 1em;
}

#our-mission figure,
article {
    float: right;
    margin-right: 20px;
    margin-left: 2%;
}

#our-mission article {
    /* clear: left; */
    color: #c9c9e9;
    font-size: 1.5rem;
    max-width: 40%;
}

#our-mission figure {
    height: auto;
    max-width: 25%;
}

@media only screen and (max-width: 910px) {

    #our-mission figure {
        display: none;
        float: right;
        margin-right: 20px;
        margin-left: 2%;
    }

    #our-mission article {
        /* clear: left; */
        text-align: center;
        color: #c9c9e9;
        font-size: 2.1rem;
        max-width: 100%;
    }

}

@media only screen and (max-width: 746px) {

    #our-mission {
        position: relative;
    }

    #our-mission h2 {
        position: absolute;
        background-color: rgba(9, 9, 16, 0.4);
        /*Dark overlay*/
        height: 100%;
        transition: background-color ease-in-out 1000ms;
        width: 100%;
    }

    #our-mission figure {
        display: none;
        float: right;
        margin-right: 20px;
        margin-left: 2%;
    }

    #our-mission article {
        /* clear: left; */
        text-align: center;
        color: #c9c9e9;
        font-size: 1.6rem;
        max-width: 100%;
        position: relative;
        top: 40%;
    }

}


@media only screen and (min-width: 426px) and (max-width: 575px) {

    #our-mission {
        position: relative;
    }

    #our-mission h2 {
        position: absolute;
        background-color: rgba(9, 9, 16, 0.4);
        /*Dark overlay*/
        height: 100%;
        transition: background-color ease-in-out 1000ms;
        width: 100%;
    }

    #our-mission figure {
        display: none;
        float: right;
        margin-right: 20px;
        margin-left: 2%;
    }

    #our-mission article {
        /* clear: left; */
        text-align: center;
        color: #c9c9e9;
        font-size: 1.48rem;
        max-width: 100%;
        position: relative;
        top: 28%;
    }

}




@media only screen and (max-width: 425px) {

    #our-mission {
        position: relative;
    }

    #our-mission h2 {
        position: absolute;
        background-color: rgba(9, 9, 16, 0.6);
        /*Dark overlay*/
        height: 100%;
        transition: background-color ease-in-out 1000ms;
    }


    #our-mission figure {
        display: none;
        float: right;
        margin-right: 20px;
        margin-left: 2%;
    }

    #our-mission article {
        /* clear: left; */
        position: relative;
        top: 40%;
        text-align: center;
        color: #c9c9e9;
        font-size: 1.3rem;
        max-width: 100%;
    }

}


@media only screen and (max-width: 370px) {


    #our-mission h2 {
        position: absolute;
        background-color: rgba(9, 9, 16, 0.8);
        /*Dark overlay*/
        height: 100%;
        transition: background-color ease-in-out 1000ms;
    }

    #our-mission article {
        font-size: 1.1rem;
    }

}


#our-mission img {
    border-radius: 10px;
}

#our-mission figcaption {
    color: #c9c9e9;
}


/*Services Styling*/

#services {
    background: linear-gradient(transparent ,grey, #4e4ef6);
    height: 30rem;
}


#services h2 {
    background: linear-gradient(#0a0a0f, grey, transparent);
    /* box-shadow: 0px 4px 10px 2px #8787f1; */
    font-size: 2.3rem;
    color: #4e4ef6;
    height: 65px;
}

#services-container {
    height: 26rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /* border: solid 3px rgb(50, 111, 243); */
}

.service{
    /* position: relative; */
    height: 70%;
    width: 17%; /*this breaks at a width of 702 fix it*/
    border-radius: 15px;
    /* border: solid 3px red; */
}

.service.alignment{
    background-image: url("/Resources/Images/wheel-alignment.jpg");
    background-size: cover;
}

.service.brakes{
    background-image: url("/Resources/Images/checking-brakes.webp");
    background-size: cover;
}

.service.batteries{
    background-image: url("/Resources/Images/battery.webp");
    background-size: cover;
}


.service a{
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 10px 2px #04040e;
    /* box-shadow: X-offset Y-offset Blur Spread; */
}

                /*Service Link States*/





/*Footer Styling*/

footer{

    height: 100%;
    /* border: solid 3px rgb(0, 174, 52); */
}